.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 22px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;

  border-radius: 999px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-decoration: none;
  background: transparent;
}
.button {
  display: flex;
  margin-top: 400px;
  gap: 16px;
  border: 1px solid #9f3030;

}
.Button {
  padding: 30px 40px 30px 40px;
    color: rgb(185, 26, 26);
}
