@layer base, theme;

@layer base {
    :root {
        --color-footer-bg: #474747;
        --color-footer-social: #ad343e;
        --color-body-bg: #f9f9f7;
        --font-sans: 'DM Sans', 'Helvetica Neue', Arial, sans-serif;
        --font-serif: 'Playfair Display', Georgia, serif;
    }

    * {
        margin: 0;
        padding: 0;
        border: none;
        color: inherit;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-size: inherit;
        line-height: 1.5em;
        vertical-align: baseline;
    }

    body {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
        background-color: #f9f9f7;
        font-family: var(--font-sans);
    }

    main {
        position: relative;
        flex-grow: 1;
    }

    footer {
        color: oklch(from var(--color-footer-bg) calc(l + 0.45) c h);
        background-color: var(--color-footer-bg);
        padding-block-end: 2.5rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
    }
}

@layer theme {
    .footer-flex {
        display: flex;
        padding: 5vw;
        gap: 5vw;
    }
    footer h3 {
        color: white;
        margin-bottom: 2.5rem;
        font-weight: 600;
    }

    footer hr {
        color: oklch(from var(--color-footer-bg) calc(l - 0.01) c h);
    }

    .footer-logo-sec {
        flex: 1 1 25%;
        min-width: 16rem;
    }

    .footer-logo-sec figure {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .footer-logo-sec figcaption {
        font-family: var(--font-serif);
        font-weight: 600;
        font-size: 1.875rem;
        color: #fff;
        font-style: italic;
    }

    .footer-details {
        color: oklch(from var(--color-footer-bg) calc(l + 0.3) c h);
    }

    .footer-link-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-pages {
        flex: 1 1 10%;
        min-width: 8rem;
    }

    footer a {
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
            transition: color 0.3s ease;
        }
    }

    .footer-insta-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: min(2vw, 1rem);
    }

    .footer-insta-grid > div {
        aspect-ratio: 8/7;
        border-radius: 1rem;
        overflow: clip;
        position: relative;
    }

    .footer-insta-grid img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .footer-social {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }

    .footer-social a {
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        border-radius: 50%;
        font-size: 1.25rem;
        color: #fff;
        background-color: var(--color-footer-social);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: oklch(from var(--color-footer-social) l calc(c + 0.1) h);
            transition: background-color 0.3s ease;
        }
    }

    .footer-insta-sec {
        flex: 1 1 25%;
        min-width: 16rem;
    }

    .footer-container {
        padding-block: 1.5rem 2rem;
        text-align: center;
        font-size: 0.9rem;
        color: oklch(from var(--color-footer-bg) calc(l + 0.3) c h);
    }

    /* Blog Page */

    .page-header {
        padding: max(5vw, 2rem) 10vw;
        text-align: center;
    }

    .page-header h1 {
        color: #2c2f24;
        font-family: var(--font-serif);
        font-size: 2.25rem;
        margin-bottom: 1rem;
        text-wrap: balance;
    }

    @media only screen and (width >= 768px) {
        .page-header h1 {
            font-size: 3rem;
        }
    }

    @media only screen and (width >= 1024px) {
        .page-header h1 {
            font-size: 4.5rem;
        }
    }

    .page-header p {
        color: #414536;
        max-width: 28rem;
        margin: 0 auto;
        font-size: 0.875rem;
    }

    .blog-content {
        padding-inline: 10vw;
        margin-bottom: max(7.5vw, 2rem);
    }

    .blog-content, .blog-related {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
        gap: 2rem 1.5rem;
    }

    .blog-item {
        border-radius: 1rem;
        overflow: clip;
        background-color: #fff;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0px 2px 4px -2px rgb(0 0 0 / 0.1);
        translate: 0px 0px;
        transition: translate 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0px 4px 6px -4px rgb(0 0 0 / 0.1);
            translate: 0px -0.25rem;
            transition: translate 0.3s ease, box-shadow 0.3s ease;
        }
    }

    .blog-item figure {
        position: relative;
        aspect-ratio: 306 / 200;
        overflow: clip;
    }

    .blog-item figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-item time {
        color: #737865;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        display: block;
    }

    .blog-item h2 {
        color: #2c2f24;
        font-weight: 500;
    }

    .blog-item-meta {
        padding: 1rem 1.5rem;
    }

    /* Blog Post */

    .page-header-2 {
        padding: max(5vw, 2rem) 0 1rem;
        max-width: 48rem;
        margin: 0 auto;
        text-align: center;
    }

    .page-header-2 h1, .blog-post-related--header h2 {
        color: #2c2f24;
        font-family: var(--font-serif);
        font-size: 2.25rem;
        margin-bottom: 2rem;
        text-wrap: balance;
        line-height: 1.25em;
    }

    .blog-post-featured-img {
        padding-inline: 10vw;
        margin-bottom: 3rem;
    }

    .blog-post-featured-img div {
        max-width: 48rem;
        margin: 0 auto;
        aspect-ratio: 4 / 3;
    }

    .blog-post-featured-img img {
        width: 100%;
        height: 100%;
        border-radius: 1rem 1rem 0rem 0rem;
        object-fit: cover;
    }

    .blog-post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 10vw;
        padding-block: 0px max(5vw, 2rem);
        line-height: 1.5em;
        gap: 2rem;
    }

    .blog-post-content-inner-div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 48rem;
    }
    
    .blog-post-content-inner-div h2 {
        font-size: 1.5rem;
    }

    .blog-post-content-inner-div ol {
        margin-left: 1rem;
    }

    .blog-post-content-inner-div ol li {
        list-style: decimal outside;
    }

    .blog-post-img {
        max-width: 48rem;
    }

    .blog-post-img img {
        width: 100%;
        border-radius: 1rem;
    }

    .blog-post-related {
        padding: max(5vw, 2rem) 10vw;
        background-color: #fff;
    }

    .blog-post-related--header {
        max-width: 48rem;
        text-align: center;
        margin: 0 auto max(5vw, 2rem);
    }

    /* Contact Page */

    .contact-form, .contact-more {
        padding-inline: 10vw;
        display: flex;
        justify-content: center;
    }

    .contact-form form {
        width: clamp(min(20rem, 100% - 2rem), 100%, 48rem);
        padding: 1.5rem;
        border-radius: 1rem;
        background-color: #fff;
        box-shadow: 0 4px 1rem -1px rgb(0 0 0 / 0.1), 0px 2px 1rem -2px rgb(0 0 0 / 0.1);
    }

    .contact-form fieldset {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .contact-form fieldset > div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact-form-half-field {
        flex-basis: calc(50% - 1rem);
    }

    .contact-form-full-field {
        flex-basis: 100%;
    }

    .contact-form label {
        font-weight: 500;
    }

    .contact-form input, .contact-form textarea {
        padding: 0.75rem 1rem;
        font-family: var(--font-sans);
        border: 0.125rem solid oklch(from var(--color-body-bg) calc(l - 0.1) c h);
        transition: border-color 0.3s ease;

        &:focus {
            outline: none;
            border-color: oklch(from var(--color-body-bg) calc(l - 0.25) calc(c + 0.2) calc(h + 150));
            transition: border-color 0.3s ease;
        }

        &:user-invalid {
            border-color: red;
            outline: none;
            transition: border-color 0.3s ease;
        }
    }

    .contact-form input {
        border-radius: 5rem;
    }

    .contact-form textarea {
        border-radius: 1rem;
        resize: none;
    }

    .contact-form-submit {
        margin-top: 1.5rem;
        display: flex;
    }

    .contact-form-submit button {
        background-color: var(--color-footer-social);
        padding: 0.75rem 1rem;
        border-radius: 5rem;
        color: #fff;
        flex-grow: 1;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: oklch(from var(--color-footer-social) l calc(c + 0.1) h);
            transition: background-color 0.3s ease;
        }
    }

    .contact-more {
        margin: max(5vw, 2rem) 0px max(5vw, 4rem);
    }
    
    .contact-more_flex {
        max-width: 48rem;
        width: 100%;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contact-more_flex h3 {
        color: #2c2f24;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
    }

    .contact-tel a {
        color: var(--color-footer-social);
        font-weight: 600;
        font-size: 1.4rem;
        transition: color 0.3s ease;

        &:hover {
            color: oklch(from var(--color-footer-social) calc(l + 0.1) calc(c + 0.1) h);
            transition: color 0.3s ease;
        }
    }

    main:has(.contact-form) {
        isolation: isolate;
    }
    
    main:has(.contact-form)::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #fff;
        z-index: -1;
    }
}