 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
 .blog {
  height: 150vh;
  background-color: #F9F9F7;
} 

.header {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  list-style: none;
  
}
.header h1 {
   font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #2b2b2b;
  margin-top: 100px;

}
.header Button {
  padding: 20px 30px 20px 30px;
  margin-top: 100px;

}

.ton:hover button {
  background-color: #9f3030;
  border-color: #cfcfcf;
  color: white;
}

.container {
  display: flex;
  gap: 30px;
}

.bigCard {
  background: #fff;
  border-radius: 14px;
   height:732px;
  width: 636px;
  margin: 0px 30px 60px 90px;
}

.bigCard img {
  width: 100%;
}

.bigCard h2 {
  font-size: 22px;
  margin: 15px 20px;
}

.bigCard .desc {
  font-size: 16px;
  color: #666;
  margin: 0 20px 20px;
  font-weight: 400;
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
    width: 306px;
  height: 354px;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card h3{
  margin: 10px 6px 10px 25px;
    font-size: 21px;
}

.date {
  font-size: 12px;
  color: #999;
  margin: 10px 15px 0;
 font-size: 15px;
}
