
.browsemenu{
  display: flex;
    text-align: center;
    margin-left: 550px;
    margin-top: 100px;
    font-size: 60px;
    text-decoration: none;
    font-weight: 400;

   
}
.for{
    display: flex;
     margin-top: 50px;
     margin-left: 250px;
    text-align: center;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    margin: 60px 70px 100px 70px;
}
.card{
    width: 300px;
    height: 300px;
   
    padding-top: 100px;
    border: 1px solid #e6e2d8;
    border-radius: 10px;
    padding: 32px 24px;
   
}
.card h3 {
  font-size: 25px;
}
.card p {
  font-size: 17px;
  line-height: 1.6;
  color: #777;
  margin-bottom: 16px;
  font-weight: 500;
}
 .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f3f3f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
  font-weight: 600;
  font-style: oblique;

}
.explore {
  color: #9f3030;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}



