@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
.test {
    height: 80vh;
  padding: 80px;
  text-align: center;
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  margin-bottom: 60px;
  color: #2b2b2b;
  margin-left: 420px;
  font-weight: 500;
  width: 626px;
}

.cards {
    display: flex;
  gap: 30px;
}
.cards h2 {
  font-size: 24px;
  font-weight: 700;
}
.cards p {
  width: 346px;
  font-weight: 400;

}

.card {
    width: 350px;
  height: 310px;
  background: #faf9f7;
  padding: 35px;
  border-radius: 14px;
  text-align: left;
 
}
.card1 {
    width: 350px;
  height: 310px;
  background: #faf9f7;
  padding: 35px;
  border-radius: 14px;
  text-align: left;
 
}
.card2 {
    width: 350px;
  height: 310px;
  background: #faf9f7;
  padding: 35px;
  border-radius: 14px;
  text-align: left;
 
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 30px 0;
}
.dee{
    display: flex;
    
}
.column{
    flex-direction: column;
    margin-left: 20px;
    list-style: none;
}


.quote {
  color: #c94a4a;
  font-size: 21px;
  margin-bottom: 15px;
}

.text {
  font-size: 17px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  
}

.location {
  font-size: 13px;
  color: #777;

}
