@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
.del{
    height: 115vh;
    background-color: #F9F9F7;


}
.porson{
    display: flex;
}
.img{
    height: 600px;
    width: 700px;
   margin: 110px 60px 140px 70px ;
}
.dele{
    margin-top: 200px;
    width: 450px;
    list-style: none;
    
}
.dele h1 {
    width: 400px;
    font-size: 55px;
    font-weight: 540;
}
.dele h3 {
    font-size: 17px;
    font-weight: 500;
    margin-left: 40px;
    margin-top: -18px;
}
.icon {
    display: flex; 
    width: 400px;
    margin-left: 40px;
    gap: 20px;
    font-size: 19px;
    font-weight: 550;
}
.sign{
    margin-top: 16px;
    width: 30 px;
    height: 30px;

}

