@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
.page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-image: url("../../assets/hero.png");
  background-size: cover;
  background-position: center;
  list-style: none;
}
/* .page h1 {
  margin-top: 350px;
  font-size: clamp(48px, 8vw, 90px);
  font-weight: 400;
  color: #2c2c2c;
  line-height: 1.2;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
  

.page p {
  font-size: 16px;
  color: #555;
  max-width: 500px;
  margin-bottom: 32px;
}  */
.button {
  display: flex;
  margin-top: 400px;
  gap: 16px;
}
.primary {
  border: 1px solid #cfcfcf;
  border-radius: 32px;

}

.primary:hover button {
  background-color: #9f3030;
  border-color: #cfcfcf;
  color: white;
}

.secondary {
    border: 1px solid #cfcfcf;
  border-radius: 32px;
}


.secondary:hover button {
  background-color: #9f3030;
  border-color: #cfcfcf;
  color: white;
}
