@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
.Unique {
    height: 90vh;
    margin: 140px 90px 60px 90px;
}
h1{
    margin-left: 35px;
    font-size: 50px;
    width: 550px;
    font-weight: 400;
}
.cards{
    display: flex;
   
}
.card{
     flex-direction: column;
      width: 400px;
}
.card h2 {
}
.card p {
    width: 300px;
}