@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
.visit{
    display: flex;
    height: 110vh;
    background-color: #F9F9F7;
    text-decoration: none;
    list-style: none;
}
.right{
    margin: 90px 90px 200px 140px;
    height: 600px;
    width: 600px;
}
.img{
    height: 600px;
    width: 600px;
}
.left{
    flex-direction: column;
    margin: 115px 90px 170px 0px;
}
.left h1 {
    width: 540px;
    font-size: 60px;
    font-weight: 520;
}
.left h3 {
    width: 537px;
    margin-top: -20px;
    font-size: 19px;
    font-weight: 550;
     line-height: 1.3;

}
.left p {
    width: 500px;

}
.ton Button {
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
   
}
.ton:hover button {
  background-color: #9f3030;
  border-color: #cfcfcf;
  color: white;
}