.about {
    height: 120vh;
  background: #FFFFFF;
  
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.imageWrapper img {
  width: 101%;
  border-radius: 12px;
}


.features {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 90px;
  padding: 30px 0;
  background: #ffffff;
  margin-bottom: 150px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  max-width: 280px;
}
.feature Text {
  display: flex;
  flex-direction: column;
}
.feature img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-top: -2px;
}

.feature h3 {
 font-size: 19px;
  font-weight: 600;
    margin: 0 0 4px 0;
}

.feature p {
  font-size: 15px;
  line-height: 1.6;
  color: #666;
}
