@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
.info {
  height: 920px;
  background-color: #F9F9F7;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 80px;
  align-items: center;

  
  
}
.left{
     margin: 70px 0px 70px 100px;
}
.left h2 {
  width: 487px;
  height: 121px;
  font-size: 55px;
  line-height: 60.5px;
  font-weight: 500;
}

.left p {
    margin-top: -30px;
    width: 556px;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.stats {
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 610px;
  height: 372px;
  border: 0.5px solid #F9F9F7;
  gap: 24px;
  
}

.stat {
  width: 293px;
  height: 174px;
  border: 1px solid #DBDFD0;
  background-color: #FFFFFF;
  border-radius: 12px;

 

}

.stat h3 {
  width: 102px;
  height: 61px;
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
padding-left: 80px;
margin-bottom: 5px;
font-family: 'Playfair Display', serif;
 margin-top: 30px;

  
}

.stat span {
    margin-top: -70px;
   width: 75px;
  height: 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-left: 80px
}

.right img {
  height: 680px;
  width: 555px;
   margin: 75px 130px 0px 0px;
  border-radius: 12px;
  object-fit: cover;
}
