.navbar {
  display: flex;
   align-items: center; 
  justify-content: space-between;
  padding: 20px;
}
.title{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 110px;

}
.logo {
  width: 80px;

}
.tittle{
  font-size: 40px;
  font-weight: 600px;
  font-style: italic;
}
.pages{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.pages a {
  text-decoration: none;
  color: black;
}
.home a {
  background: #e8efdf;
  padding: 6px 14px;
  border-radius: 20px;
}
.about a {
  background: #e8efdf;
  padding: 6px 14px;
  border-radius: 20px;
}
.Menu a {
  background: #e8efdf;
  padding: 6px 14px;
  border-radius: 20px;
}
.page a {
  background: #e8efdf;
  padding: 6px 14px;
  border-radius: 20px;
}
.contact a {
  background: #e8efdf;
  padding: 6px 14px;
  border-radius: 20px;
}

.Book{
  padding: 8px 18px;
  border: 1.5px solid black;
  background-color: white;
  border-radius: 20px;
  /* cursor: pointer; */
  margin-right: 110px;
  text-decoration: none;
}
.Book a {
  background-color: white;
  color: black;
  font-weight: 700;
  text-decoration: none;
}


